version: '3.8'

services:
  apache-php:
    build: .              # <--- changed from image: php:8.2-apache
    container_name: apache_php
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root # feel free to change this secure password
      MYSQL_DATABASE: casino
      MYSQL_USER: user # feel free to change this secure user
      MYSQL_PASSWORD: secret # feel free to change this secure password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d

volumes:
  mysql_data:
